In [1]:
import pandas as pd
import numpy as np

from datetime import datetime
%matplotlib inline
pd.set_option('display.max_rows', 500)

In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sugir\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [3]:
 test_data=pd_JH_data[((pd_JH_data['country']=='India')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>='2020-08-01')]

In [4]:
test_data

            date state  country  confirmed
51114 2020-08-01    no  Germany   211005.0
51127 2020-08-01    no    India  1750723.0
51379 2020-08-02    no  Germany   211220.0
51392 2020-08-02    no    India  1803695.0
51647 2020-08-03    no  Germany   212111.0
51659 2020-08-03    no    India  1855745.0
51913 2020-08-04    no  Germany   212828.0
51925 2020-08-04    no    India  1908254.0
52177 2020-08-05    no  Germany   214113.0
52190 2020-08-05    no    India  1964536.0
52444 2020-08-06    no  Germany   215039.0
52457 2020-08-06    no    India  2027074.0
52711 2020-08-07    no  Germany   216196.0
52723 2020-08-07    no    India  2088611.0
52976 2020-08-08    no  Germany   216903.0
52989 2020-08-08    no    India  2153010.0
53242 2020-08-09    no  Germany   217288.0
53255 2020-08-09    no    India  2215074.0
53509 2020-08-10    no  Germany   218508.0
53521 2020-08-10    no    India  2268675.0
53773 2020-08-11    no  Germany   219540.0
53786 2020-08-11    no    India  2329638.0
54040 2020-08-12    no  Germany   220859.0
54053 2020-08-12    no    India  2396637.0
54306 2020-08-13    no  Germany   222281.0
54319 2020-08-13    no    India  2461190.0
54571 2020-08-14    no  Germany   223791.0
54584 2020-08-14    no    India  2525922.0
54839 2020-08-15    no  Germany   224488.0
54851 2020-08-15    no    India  2589952.0
55104 2020-08-16    no  Germany   225007.0
55117 2020-08-16    no    India  2647663.0
55369 2020-08-17    no  Germany   226700.0
55382 2020-08-17    no    India  2702681.0
55637 2020-08-18    no  Germany   228120.0
55649 2020-08-18    no    India  2767253.0
55903 2020-08-19    no  Germany   229706.0
55915 2020-08-19    no    India  2836925.0
56167 2020-08-20    no  Germany   231292.0
56180 2020-08-20    no    India  2905825.0
56434 2020-08-21    no  Germany   233029.0
56447 2020-08-21    no    India  2975701.0
56701 2020-08-22    no  Germany   233861.0
56713 2020-08-22    no    India  3044940.0
56966 2020-08-23    no  Germany   234494.0
56979 2020-08-23    no    India  3106348.0
57232 2020-08-24    no  Germany   236122.0
57245 2020-08-24    no    India  3167323.0
57499 2020-08-25    no  Germany   237583.0
57511 2020-08-25    no    India  3224547.0
57763 2020-08-26    no  Germany   239010.0
57776 2020-08-26    no    India  3310234.0
58030 2020-08-27    no  Germany   240571.0
58043 2020-08-27    no    India  3387500.0
58296 2020-08-28    no  Germany   242126.0
58309 2020-08-28    no    India  3463972.0
58561 2020-08-29    no  Germany   242835.0
58574 2020-08-29    no    India  3542733.0
58829 2020-08-30    no  Germany   243305.0
58841 2020-08-30    no    India  3621245.0
59094 2020-08-31    no  Germany   244802.0
59107 2020-08-31    no    India  3691166.0
59360 2020-09-01    no  Germany   246015.0
59373 2020-09-01    no    India  3769523.0
59627 2020-09-02    no  Germany   247411.0
59640 2020-09-02    no    India  3853406.0
59893 2020-09-03    no  Germany   248840.0
59905 2020-09-03    no    India  3936747.0
60159 2020-09-04    no  Germany   250283.0
60171 2020-09-04    no    India  4023179.0
60425 2020-09-05    no  Germany   251058.0
60438 2020-09-05    no    India  4113811.0
60691 2020-09-06    no  Germany   251728.0
60704 2020-09-06    no    India  4204613.0
60957 2020-09-07    no  Germany   253626.0
60969 2020-09-07    no    India  4280422.0
61222 2020-09-08    no  Germany   254957.0
61235 2020-09-08    no    India  4370128.0
61489 2020-09-09    no  Germany   256433.0
61501 2020-09-09    no    India  4465863.0
61753 2020-09-10    no  Germany   258149.0
61766 2020-09-10    no    India  4562414.0
62021 2020-09-11    no  Germany   259735.0
62033 2020-09-11    no    India  4659984.0
62285 2020-09-12    no  Germany   260817.0
62298 2020-09-12    no    India  4754356.0
62553 2020-09-13    no  Germany   261737.0
62565 2020-09-13    no    India  4846427.0
62818 2020-09-14    no  Germany   263222.0
62831 2020-09-14    no    India  4846427.0

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-14    no   263222.0
India   2020-09-14    no  4846427.0

In [6]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
def rolling_reg(df_input,col='confirmed'):
    ''' Rolling Regression to approximate the doubling time'

        Parameters:
        ----------
        df_input: pd.DataFrame
        col: str
            defines the used column
        Returns:
        ----------
        result: pd.DataFrame
    '''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)



    return result

In [8]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  51114           NaN
                51379           NaN
                51647    382.360458
                51913    263.747512
                52177    212.804529
                52444    193.571536
                52711    206.544407
                52976    231.809013
                53242    397.061661
                53509    271.110696
                53773    194.001184
                54040    186.844463
                54306    161.177186
                54571    151.644156
                54839    202.555505
                55104    369.126096
                55369    203.795961
                55637    145.588821
                55903    151.813262
                56167    144.833544
                56434    139.237035
                56701    181.181264
                56966    319.173606
                57232    207.718414
                57499    152.843207
                57763    164.523315
                58030    160.009817
                58296    154.408858
                58561    213.643110
                58829    411.798699
                59094    247.734960
                59360    180.595818
                59627    188.636259
                59893    175.166018
                60159    173.290158
                60425    225.482717
                60691    347.436678
                60957    196.368640
                61222    156.975534
                61489    181.692436
                61753    160.722431
                62021    156.332930
                62285    194.577961
                62553    260.502498
                62818    217.817325
       India    51127           NaN
                51392           NaN
                51659     34.343046
                51925     35.499536
                52190     35.104221
                52457     33.102530
                52723     32.669600
                52989     33.184554
                53255     34.037334
                53521     38.252764
                53786     39.648214
                54053     36.442850
                54319     36.423949
                54584     38.074791
                54851     39.230332
                55117     42.513954
                55382     46.958020
                55649     45.252373
                55915     41.252540
                56180     40.941426
                56447     41.882607
                56713     42.777395
                56979     46.573280
                57245     50.762012
                57511     53.571903
                57776     45.259423
                58043     40.593631
                58309     44.065037
                58574     44.639155
                58841     45.050962
                59107     48.754405
                59373     49.825031
                59640     46.491186
                59905     46.084597
                60171     46.388735
                60438     45.459032
                60704     45.348365
                60969     50.412222
                61235     51.778441
                61501     47.153948
                61766     46.453044
                62033     47.009377
                62298     48.545060
                62565     50.992411
                62831    104.609197
Name: confirmed, dtype: float64

In [9]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR','level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [10]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [11]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

In [12]:
def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function (data structure kept)

        parameters:
        ----------
        df_input : pandas.series
        column : str
        window : int
            used data points to calculate the filter result

        Returns:
        ----------
        df_result: pd.DataFrame
            the index of the df_input has to be preserved in result
    '''

    degree=1
    df_result=df_input

    filter_in=df_input[column].fillna(0) # attention with the neutral element here

    result=signal.savgol_filter(np.array(filter_in),
                           window, # window size used for filtering
                           1)
    df_result[str(column+'_filtered')]=result
    return df_result

In [13]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

# Filtered Doubling Rate

In [14]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()
pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR','level_2':'index'})
pd_filtered_doubling.head()

     state country  index  confirmed_filtered_DR
0  Alberta  Canada      0                    NaN
1  Alberta  Canada    465                    NaN
2  Alberta  Canada    701                    NaN
3  Alberta  Canada    966                    NaN
4  Alberta  Canada   1263                    NaN

In [15]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8,NaN
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0,NaN
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0,NaN

In [16]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [17]:
pd_result_larg[pd_result_larg['country']=='India'].head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
56,56,2020-01-22,no,India,0.0,NaN,0.0,NaN
320,320,2020-01-23,no,India,0.0,NaN,0.0,NaN
588,588,2020-01-24,no,India,0.0,NaN,0.0,NaN
853,853,2020-01-25,no,India,0.0,NaN,0.0,NaN
1119,1119,2020-01-26,no,India,0.0,NaN,0.0,NaN

In [ ]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)

In [ ]:
pd_samp=pd_result_larg[pd_result_larg['country']=='India']
idx=pd_samp['index']

In [ ]:
pd_samp=pd_result_larg.drop(columns={'confirmed_DR','confirmed_filtered','confirmed_filtered_DR','state'},axis=1)

pd_samp

In [ ]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
time_idx=pd_raw.columns[4:]
df_plot = pd.DataFrame({
    'date':time_idx})
country_list=pd_raw['Country/Region']
for each in country_list:
    df_plot[each]=np.array(pd_raw[pd_raw['Country/Region']==each].iloc[:,4::].sum(axis=0))
df_plot

In [ ]:
time_idx=[datetime.strptime( each,"%m/%d/%y") for each in df_plot.date]
time_str=[each.strftime("%y-%m-%d") for each in time_idx]

In [ ]:
df_plot['date']=time_idx
type(df_plot['date'][0])

In [ ]:
df_plot.head()

In [ ]:
df_plot.to_csv('../data/processed/COVID_sir_flat_table.csv',sep=';')

In [ ]:
df_plot